* { margin: 0;
  padding: 0;
  box-sizing: border-box;

}
canvas{
  position: absolute;

  width: 100%;
  height: 100;

}
#ohh{
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;
  left: 50%;
  width: 300px;
  transform: translate(-50%,0);
  padding: 20px 30px;
  border-radius: 50px;
  background: brown;
  color: white;
  font-size: 20px;
  overflow: hidden;
}
